.header-container {
  /* display: flex; */
  justify-content: center;
}

.no-padding {
  padding: 0px 25px
}

.padding {
  width: 100%;
  display: flex;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.pad-content {
  width: 800px
}

.left-content, .right-content {
  display: flex;
  align-items: center;
}

.left-content {
  justify-content: flex-start;
}

.right-content {
  justify-content: flex-end;
}

.logo {
  cursor: pointer;
  width: 55px;
}

.nav-item {
  margin: 0 15px; /* This can be adjusted based on your preference */
  font-size: .8rem;
  color: rgb(169, 169, 169);
}

.user-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

/* For the dark theme, you'll need an adjustment. Here's an example for the box-shadow: */
.user-avatar.dark {
  box-shadow: 0 4px 6px -1px rgba(255, 255, 255, 0.1), 0 2px 4px -1px rgba(255, 255, 255, 0.06);
}

.user-initials {
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 0.025em;
}

.join-btn {
  margin-right: 8px;
  cursor: pointer;
  transition: color 0.2s;
  font-size: .8rem;
  font-weight: bold;
 
}

.join-btn:hover {
  color: #4A4A4A;
}

.text-gray-800 {
  color: #2D3748;
}

.text-white {
  color: #FFF;
}


@media only screen and (max-width: 600px) {
.header-content {
  padding: 25px 25px;
}

}