/* .App {
  text-align: center;
  background-color: #000000;
  color: white
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

body.dark {
  /* global styles for dark theme */
  background-color: #333;
  color: #FFF;
}

body.light {
  /* global styles for light theme */
  background-color: #FFF;
  color: #333;
}

.dark .App {
  text-align: center;
  background-color: #000000;
  color: white;
}

.dark .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.dark .App-link {
  color: #61dafb;
}


.light .App {
  text-align: center;
  background-color: #ffffff; /* Changed from black to white */
  color: #000000; /* Changed from white to black */
}

.light .App-header {
  background-color: #f7f7f7; /* Changed to a lighter shade */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000; /* Changed from white to black */
}

.light .App-link {
  color: #0077cc; /* Changed to a darker blue for contrast on light background */
}


